<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.tsubuzaki.SakuraRSS.RefreshFeeds</string>
		<string>com.tsubuzaki.SakuraRSS.iCloudBackup</string>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>RSS Feed</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.rss</string>
				<string>public.xml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Sakura Web Feed</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.tsubuzaki.SakuraRSS.petal</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>RSS Feed</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>feed</string>
				<string>feeds</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Sakura Deep Link</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sakura</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>youtube</string>
		<string>reddit</string>
		<string>twitter</string>
		<string>instagram</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>audio</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.zip-archive</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sakura Web Feed</string>
			<key>UTTypeIdentifier</key>
			<string>com.tsubuzaki.SakuraRSS.petal</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>srss</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-sakura-rss</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>OPML_DOCUMENT_TYPE</string>
			<key>UTTypeIdentifier</key>
			<string>org.opml.opml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>opml</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/x-opml</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
